* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fffff0;
    list-style: none;
}

header {
    width: 100vw;
    height: 3rem;
    background-color: lightgray;
}

.nav-menu {
    display: flex;
    justify-content: end;
    margin-right: 1rem;

}

.item {
    border-width: 0.5rem;
    font-size: 1.2rem;
    margin-right: 1rem;
    border-color: white;
    border-radius: 1rem;
}

.item__user {
    width: auto;
    height: auto;
    max-width: 3rem;
    max-height: 3rem;
}

.item__options {
    max-height: 3.5rem;
    max-width: 3.5rem;
}

main {
    width: 100vw;
    margin: 20rem auto;
    min-width: 420px;
    position: relative;
    text-align: center;
}

li {
    text-decoration-line: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    width: 100vw;
    background-color: gray;
    height: 5rem;
    text-align: center;
    position: relative;
}

section {
    margin: 1rem;
}

h1, h2 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}
.container {
    margin: 5rem;
}