* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #2d2d2d;
    color: #dcdcdc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
    font-size: 1rem;
}
header {
    background-color: #696969;
    width: 100vw;
    height: 5rem;
}
